* {
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body {
  background-color: hsl(217, 54%, 11%);
}
.stock {
  text-align: center;
  color: #fff;
  padding: 1rem 0;
}
.CardContainer {
  display: flex;

  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.inputContainer{
  display: flex;
  justify-content: center;
}
.inputContainer input{
  height: 2rem;
  width: 15rem;
  border: none;
  outline: none;
  border-radius: .2rem;
  padding-left: 1rem;
  font-weight: 300;
  transition: transform .5s;
}
.inputContainer input:focus{
  transform: scale(1.05);
}
.noStock{
  color: #fff;
  font-weight: 300;
  text-align: center;
  
}
.agregarProducto{
  width: 2.5rem;
  height:2.5rem;
  border-radius: 50%;
  background-color: hsl(215, 51%, 31%);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
}
.agregarProducto:hover{
  transform: scale(1.10);
}