* {
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body {
  background-color: hsl(217, 54%, 11%);
}
.stock{
  text-align: center;
  color: #fff;
  padding: 1rem 0;

}
.CardContainer {
  display: flex;

  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
